################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Functiona.Maui.OnnxIosError/bin
/Functiona.Maui.OnnxIosError/obj
